<% product.forEach(element => { %>
    <article class="br">
        <a href="/products/productDetail/<%= element.id %>">
            <% if(element.discount){ %>
                <span class="off">
                    <%= element.discount %>%Off 
                </span>
            <% } %>
            
			<% if(element.images){ %>
			    <img src="/img/productos/<%= element.images %>" class="imagen-producto wow animate__animated animate__zoomIn animate__delay-.5s">
			<% } else { %>	
			    <img src="/img/productos/default-img.gif" class="imagen-producto wow animate__animated animate__zoomIn animate__delay-.5s">
			<% } %>
        </a>
        <div class="detalles-articulos">
            <span>$<%= element.price %></span>
            <p><%= element.name %></p>
            <b>  <%= element.brand.brand %>  
                <% if(element.alcoholContent){ %>
                    / <%= element.alcoholContent %> % ALC /
                <% } %>
            </b>
            <button class="btn-add" alt="Agregar al carrito"><i class="fas fa-shopping-cart"></i></button>
        </div>
        <div class="boton-comprar">
            <button class="btn-buy br">Comprar</button>
        </div>
    </article>
<% }) %>	