<section class="slider-products">
		<h2><%= titleSlider %></h2>
		
		<div class="carousel main-carousel" data-flickity='{ "groupCells": true }'>
			<% destacadosSlider.forEach(product => { %>
			  <div class="carousel-cell">
			    <article class="br">
					<a href="/products/productDetail/<%= product.id %>">
						<% if(product.discount){ %>
							<span class="off">
								<%= product.discount %>%Off 
							</span>
						<% } %>
						<img src="/img/productos/<%= product.image %>" class="imagen-producto">
					</a>
					<div class="detalles-articulos">
						<span>$<%= product.precio %></span>
						<p><%= product.name %></p>
						<b><%= product.trademark %> / <%= product.trademark %> / 5.2% ALC</b>
						<button class="btn-add" alt="Agregar al carrito"><i class="fas fa-shopping-cart"></i></button>
					</div>
					<div class="boton-comprar">
						<button class="btn-buy br">Comprar</button>
					</div>
				</article>
			  </div>
		  <% }) %>
		</div>
	</section>