<section class="slider-products">
		<h2 class=" wow animate__animated animate__fadeInUp animate__delay-.5s"><%= titleSlider %></h2>
		
		<div class="carousel main-carousel" data-flickity='{ "groupCells": true }'>
			<% destacadosSlider.forEach(product => { %>
			  <div class="carousel-cell">
			    <article class="br">
					<a href="/products/productDetail/<%= product.id %>">
						<% if(product.discount){ %>
							<span class="off">
								<%= product.discount %>%Off 
							</span>
						<% } %>
						<% if(product.images){ %>
							<img src="/img/productos/<%= product.images %>" class="imagen-producto wow animate__animated animate__zoomIn animate__delay-.5s">
						<% } else { %>	
							<img src="/img/productos/default-img.gif" class="imagen-producto wow animate__animated animate__zoomIn animate__delay-.5s">
						<% } %>
					</a>
					<div class="detalles-articulos">
						<span>$<%= product.price %></span>
						<p><%= product.name %></p>
						<b>  <%= product.brand.brand %>  
							<% if(product.alcoholContent){ %>
								/ <%= product.alcoholContent %> % ALC /
							<% } %>
						</b>
						<a href="/users/productCart/<%= product.id %>" class="btn-add" alt="Agregar al carrito"><i class="fas fa-shopping-cart"></i></a>
					</div>
					<div class="boton-comprar">
						<% if(session.user !== undefined){%>
							<a href="/users/productCart/<%= product.id %>" class="btn-buy br">Comprar</a><br>
						<% } else {%>
							<button id="btnOpenSession" class="btn-buy br">Comprar</button><br>
						<% } %>
						<% if (typeof session.user != "undefined") { %>
							<% if (session.user.rol === 1 || session.user.rol === 2) { %>
						<a href="/admin/products/edit/<%- product.id %>" class="btn-edit br">Editar</a>
						<% }} %>
					</div>
				</article>
			  </div>
		  <% }) %>
		</div>
	</section>