<!DOCTYPE html>
<html lang="es">

<%- include("partials/head")  %> 

<body>
	
	<%- include("partials/header")  %> 

    <!-- CARRITO -->
	<main class="container-product">
		<div class="product">

			<div class="product-title">
				<p class="product-title__product item">
					Producto
				</p>
				<p class="product-title__cantidad item">
					Cantidad
				</p>
				<p class="product-title__price item">
					Precio
				</p>
			</div>
			
			<% productCart.forEach(element => { %>
				<div class="card-product">
					<div class="product-info">
						<div class="product-img">
							<a href="/productDetail/detail/<%= element._id %> ">
								<img class="product-img__img" src="/img/productos/<%= element.imagen %>" alt="">
							</a>
							<span class="product-img__name"><%= element.name %></span>
						</div>
					</div>
					<div class="product-cantidad">
						<p class="product-cantidad__cantidad item">Cantidad</p>
						<div class="product-cantidad__number">
							<button>
								-
							</button>
							<div>1</div> 
							<button>
								+
							</button>
						</div>
					</div>
					<div class="product-price">
						<div class="product-price__price">
							<p class="product-price__number">$<%= element.precio %></p><i class="fas fa-trash"></i>
						</div>
					</div>
				</div>
			<% }) %>

		</div> 
		<div class="price-total">
			<p class="price-total__title">Total del pedido</p>
			<div class="price-total__total">
			<p>Total:</p><span>$00.00</span>
			</div>
		</div>
		<div class="product-button">
			<button class="product-button__btn-comprando">
				Seguir comprando
			</button>
			<button class="product-button__btn-pagar">
				Pagar ahora
			</button>
		</div>
	</main>
    <!-- /CARRITO -->

	<!-- FOOTER -->
	<footer>
		<div class="footer">
			<div class="navegacion">
				<h5>Navegacion</h5>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">Acerca de</a></li>
					<li><a href="/contact">Contacto</a></li>
				</ul>
			</div>
			<div class="formas-pago">
				<h5>Formas de pago</h5>
				<div>
					<img src="img/icons/mastercard.png" alt="mastercard">
					<img src="img/icons/ml.png" alt="mercado libre">
					<img src="img/icons/visa.png" alt="visa">
				</div>
			</div>
			<div class="redes">
				<h5>Redes</h5>
				<div>
					<i class="fab fa-facebook"></i>
					<i class="fab fa-whatsapp"></i>
					<i class="fab fa-instagram"></i>
				</div>
			</div>
			<div class="logo">
				<img src="/img/icons/icon-title2.png" alt="">
			</div>
		</div>
	</footer>
	<!-- /FOOTER -->

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/js/swiper.js"></script>

</body>
</html>