<!DOCTYPE html>
<html>

	<%- include("../partials/headAdmin") %>
<body>
	

	<%- include("../partials/sidebarAdmin") %>
	<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 admin">
		<h2>Subir productos</h2>
		<form class="row g-3" action="/admin/products/create" method="POST" enctype="multipart/form-data">
            <div class="col-12">
                <label for="inputImage" class="form-label">Imagen</label>
                <input type="file" class="form-control" name="images" aria-label="file example" id="inputImage">
                
            </div>
            <div class="col-12">
                <label for="inputName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="inputName" name="name">
                <% if (locals.errors && errors.name) { %>
					<small class="text-danger"><%= errors.name.msg %> </small>
				<% } %>
            </div>
            <div class="col-sm-12 col-md-6">
                <label for="inputPrice" class="form-label">Precio</label>
                <input type="number" class="form-control" id="inputPrice" name="price">
                <% if (locals.errors && errors.precio) { %>
					<small class="text-danger"><%= errors.precio.msg %> </small>
				<% } %>
            </div>
            <div class="col-sm-12 col-md-6">
                <label for="inputDiscount" class="form-label">Descuento</label>
                <input type="number" class="form-control" id="inputDiscount" name="discount" >
            </div>
            <div class="col-sm-12 col-md-6">
                <label for="graduacion" class="form-label">Marca</label>
                <input type="text" class="form-control" name="trademark" aria-label="file example">
            </div>
            <div class="col-sm-12 col-md-6">
                <label for="graduacion" class="form-label">Graduaci贸n alcoh贸lica</label>
                <input type="text" class="form-control" name="alcoholContent" aria-label="file example">
            </div>
            <div class="col-12 d-none">
                <label for="inputImage" class="form-label">Agregar categoria</label>
                <input type="text" class="form-control" name="newCategory" aria-label="file example">
            </div>
            <div class="col-12">
                <select class="form-select" id="specificSizeSelect" name="category">
                  <option selected hidden value="">Categorias</option>
                 <% categories.forEach(category => { %>
                    <option value="<%- category.id %>"><%- category.category %></option>
                 <% }) %>
                </select>
                <% if (locals.errors && errors.category) { %>
					<small class="text-danger"><%= errors.category.msg %> </small>
				<% } %>
            </div>
            <div class="col-12">
                <label for="validationTextarea" class="form-label">Descripci贸n</label>
                <textarea class="form-control" id="validationTextarea" name="description" placeholder="Descripci贸n"> </textarea>
            </div>
            <div class="col-sm-12 col-md-6">
                <select class="form-select" id="specificSizeSelect" name="outstanding">
                    <option selected hidden value="">Descatar</option>
                    <option value="1">Si</option>
                    <option value="0">No</option>
                </select>   
            </div>
            <button type="submit" class="btn btn-primary">
                CREAR
            </button>
        </form>
	</main>
</body>
</html>