<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es">

<%- include("../partials/headAdmin.ejs")  %>
<head>
    <link rel="stylesheet" href="/css/admin/admin.css">
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <%- include("../partials/sidebarAdmin.ejs")  %> 
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Subir productos</h2>
                </div>
            </nav>

            <div style="padding-bottom: 24px;" class="container-fluid px-4">

                <form  id="form" class="row g-3" action="/admin/products/create" method="POST" enctype="multipart/form-data">
                    <div class="col-12">
                        <div class="img-container" id="img-preview">
                                
                        </div>
                        <label for="formFile" class="form-label">Imagen</label>
                        <input type="file" class="form-control" name="images" aria-label="file example" id="formFile">
                        <span id="fileErrors" class="fileErrors"></span>
                    </div>
                    <div class="col-12">
                        <label for="inputName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="inputName" name="name">
                        <% if (locals.errors && errors.name) { %>
                            <small class="text-danger"><%= errors.name.msg %> </small>
                        <% } %>
                        <span id="nameErrors" class="fileErrors"></span>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="inputPrice" class="form-label">Precio</label>
                        <input type="number" class="form-control" id="inputPrice" name="price">
                        <% if (locals.errors && errors.precio) { %>
                            <small class="text-danger"><%= errors.precio.msg %> </small>
                        <% } %>
                        <span id="priceErrors" class="fileErrors"></span>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <label for="discount" class="form-label">Descuento</label>
                        <input type="number" class="form-control" id="discount" name="discount" >
                    </div>
                    <div class="col-sm-12 col-md-6 d-none">
                        <label for="alcoholContent" class="form-label">Graduaci贸n alcoh贸lica</label>
                        <input type="text" class="form-control" name="alcoholContent" aria-label="file example">
                    </div>
                    <div class="col-12">
                        <select class="form-select" id="brandSelect" name="brand">
                          <option selected hidden value="">Marcas</option>
                         <% brands.forEach(brand => { %>
                            <% if (brand.brand != "Sin marca"){ %>
                                <option value="<%- brand.id %>"><%- brand.brand %></option>
                            <% } %>
                         <% }) %>
                         <option value="100">Sin marca</option>
                        </select>
                        <% if (locals.errors && errors.category) { %>
                            <small class="text-danger"><%= errors.brand.msg %> </small>
                        <% } %>
                        <span id="brandErrors" class="fileErrors"></span>
                    </div>
                    <div class="col-12">
                        <label for="categorySelect" class="form-label">Categoria</label>
                        <select class="form-select" id="categorySelect" name="category">
                          <option selected hidden value="">Categorias</option>
                         <% categories.forEach(category => { %>
                            <% if (category.category != "Sin categoria"){ %>
                            <option value="<%- category.id %>"><%- category.category %></option>
                            <% } %>
                         <% }) %>
                         <option value="100">Sin categoria</option>
                        </select>
                        <% if (locals.errors && errors.category) { %>
                            <small class="text-danger"><%= errors.category.msg %> </small>
                        <% } %>
                        <span id="categoryErrors" class="fileErrors"></span>
                    </div>
                    <div class="col-12">
                        <label for="validationTextarea" class="form-label">Descripci贸n</label>
                        <textarea class="form-control" id="inputDescription" name="description" placeholder="Descripci贸n"> </textarea>
                        <span id="descriptionErrors" class="fileErrors"></span>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <select class="form-select" id="specificSizeSelect" name="outstanding">
                            <option selected hidden value="0">Descatar</option>
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>   
                    </div>
                    <span id="submitErrors" style="color: red;"></span>
                    <button type="submit" class="btn btn-primary">
                        CREAR
                    </button>
                </form>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

    <%- include("../partials/scriptAdmin.ejs")  %>
    <script src="/js/validaciones/previewImage.js"></script>
    <script src="/js/validaciones/validations.js"></script>
</body>

</html>