<!DOCTYPE html>
<html>

	<%- include("../partials/headAdmin") %>
<body>
	
	<%- include("../partials/headerAdmin")%>

	<%- include("../partials/sidebarAdmin") %>

	<main class="admin">
		<h2>Administrar Productos</h2>
		<div class="row titulos column">
			<div class="col-sm-3">
				<span>Imágen</span>
			</div>
			<div class="col-sm-3">
				<span>Nombre</span>
			</div>
			<div class="col-sm-3">
				<span>Precio</span>
			</div>
			<div class="col-sm-3">
				<span>Acciones</span>
			</div>
		</div>

		<!-- ForEach -->
		<% products.forEach(adminproducts => { %>
			<div class="row titulos detalles">
				<div class="col-sm-3 info producto-imagen">
					<img src="/img/productos/<%= adminproducts.imagen %>">
				</div>
				<div class="col-sm-3 info">
					<span><%= adminproducts.name %></span>
				</div>
				<div class="col-sm-3 info">
					<span><%= adminproducts.precio %></span>
				</div>
				<div class="col-sm-3 info">
					<a href="/admin/products/edit/<%- adminproducts.id %>">
						<button class="btn btn-primary">
							<i class="fas fa-edit"></i>
						</button>
					</a>
					<form action="/admin/products/delete/<%- adminproducts.id %>?_method=DELETE" method="POST">
						<button type="submit" class="btn btn-danger">
							<i class="fas fa-trash-alt"></i>
						</button>
					</form>
				</div>
			</div>
		<% }) %>
	</main>
</body>
</html>