<!DOCTYPE html>
<html>

	<%- include("../partials/headAdmin") %>
<body>
	
	<%- include("../partials/headerAdmin")%>

	<%- include("../partials/sidebarAdmin") %>

	<main class="admin">
		<h2>Administrar Productos</h2>
		<div class="row titulos column">
			<div class="col-sm-3">
				<span>Imágen</span>
			</div>
			<div class="col-sm-3">
				<span>Nombre</span>
			</div>
			<div class="col-sm-3">
				<span>Precio</span>
			</div>
			<div class="col-sm-3">
				<span>Acciones</span>
			</div>
		</div>

		<!-- ForEach -->
		<% products.forEach(adminproducts => { %>
			<div class="row titulos detalles">
				<div class="col-sm-3 info producto-imagen">
					<img src="/img/productos/<%= adminproducts.imagen %>">
				</div>
				<div class="col-sm-3 info">
					<span><%= adminproducts.name %></span>
				</div>
				<div class="col-sm-3 info">
					<span><%= adminproducts.precio %></span>
				</div>
				<div class="col-sm-3 info">
					<button class="btn btn-primary">Editar</button>
				<form action="/admin/products/delete/<%- adminproducts.id %>?_method=DELETE" method="POST">
					<button type="submit" class="btn btn-danger">Eliminar</button>
				</form>
				</div>
			</div>
		<% }) %>
	</main>
</body>
</html>