<!DOCTYPE html>
<html>
	<%- include("../partials/headAdmin") %>
<body>
	
	<%- include("../partials/headerAdmin")%>

	<%- include("../partials/sidebarAdmin") %>
	<main class="add container">
		<h2>Subir productos</h2>
        <form class="row g-3" action="/admin/products/edit/<%- product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="col-12">
                <label for="inputImage" class="form-label">Imagen</label>
                <input type="file" class="form-control" name="imagen" aria-label="file example" id="inputImage" multiple value="">
            </div>
            <div class="col-12">
                <label for="inputName" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="inputName" name="name" value="<%= product.name %>">
            </div>
            <div class="col-sm-12 col-md-6">
                <label for="inputPrice" class="form-label">Precio</label>
                <input type="number" class="form-control" id="inputPrice" name="precio" value="<%= product.precio %>">
            </div>
            <div class="col-sm-12 col-md-6">
                <label for="inputDiscount" class="form-label">Descuento</label>
                <input type="number" class="form-control" id="inputDiscount" name="discount" value="<%= product.discount %>">
            </div>
            <div class="col-sm-12 col-md-6">
                <label for="marca" class="form-label">Marca</label>
                <input type="text" class="form-control" name="marca" aria-label="file example" value="<%= product.marca %>">
            </div>
            <div class="col-sm-12 col-md-6">
                <label for="graduacion" class="form-label">Graduaci贸n alcoh贸lica</label>
                <input type="text" class="form-control" name="graduacion" aria-label="file example" value="<%= product.graduacion %>">
            </div>
            <div class="col-12 d-none">
                <label for="inputImage" class="form-label">Agregar categoria</label>
                <input type="text" class="form-control" name="newCategory" aria-label="file example" multiple>
            </div>
            <div class="col-12">
                <select class="form-select" id="specificSizeSelect" name="category">
                  <option selected hidden value="<%  %> ">Categorias</option>
                 <% category.forEach(category => { %>
                    <option value= "<%- category %>" <%= product.category === category ? "selected" : null %> ><%- category %></option>
                 <% }) %>
                </select>
            </div>
            <div class="col-12">
                <label for="validationTextarea" class="form-label">Descripci贸n</label>
                <textarea class="form-control" id="validationTextarea" name="description" placeholder="Descripci贸n"><%= product.description %>  </textarea>
            </div>
            <div class="col-sm-12 col-md-6">
                <label for="check" class="form-label">Destacar</label>
                <input type="checkbox" id="check" class="form-control form-check-input" name="destacado" aria-label="file example" <%= product.destacado == "on" ? "checked" : null %>>
            </div>
            <button type="submit" class="btn btn-primary">
                EDITAR
            </button>
        </form>
	</main>
</body>
</html>