<!DOCTYPE html>
<html lang="es">

<%- include("../partials/headAdmin.ejs")  %>
<head>
    <link rel="stylesheet" href="/css/admin/admin.css">
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <%- include("../partials/sidebarAdmin.ejs")  %> 
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0">Usuarios</h2>
                </div>
            </nav>

            <div style="padding-bottom: 24px;" class="container-fluid px-4">

                <div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
						  		<th scope="col">Nombre</th>
						  		<th scope="col">Email</th>
						  		<th scope="col">Acciones</th>
							</tr>
					  	</thead>
					  	<tbody>
							<% user.forEach(usuarios => { %>
								<tr>
									<td><%- usuarios.name%></td>
									<td><%= usuarios.email %></td>
									<td>
										<form action="/admin/users/delete/<%- usuarios.id %>?_method=DELETE" method="POST" onsubmit="return confirm('¿Esta seguro de querer eliminar a <%= usuarios.name %>?')">
											<button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
										</form>
									</td>
								</tr>
							<% }) %>
						</tbody>
					</table>
				</div>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>

    <%- include("../partials/scriptAdmin.ejs")  %>
</body>

</html>