<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("../partials/headAdmin") %> 
</head>
<body>

    <%- include("../partials/headerAdmin") %>

    <%- include("../partials/sidebarAdmin") %>
    
    <main class="admin container">

        <h2>Usuarios registrados</h2>
        <div class="row titulos column">
			<div class="col-sm-3">
				<span>Nombre Negocio</span>
			</div>
            <div class="col-sm-3">
				<span>Email</span>
			</div>
			<div class="col-sm-3">
				<span>Fecha de Registro</span>
			</div>
			<div class="col-sm-3">
				<span>Acciones</span>
			</div>
		</div>
        <!-- ForEach -->
        <% users.forEach(usuarios => { %>
            <div class="row titulos detalles">
				<div class="col-sm-3 info producto-imagen">
					<span><%= usuarios.name %></span>
				</div>
				<div class="col-sm-3 info">
					<span><%= usuarios.email %></span>
				</div>
				<div class="col-sm-3 info">
					<span><%= usuarios.fecha_registro %></span>
				</div>
				<div class="col-sm-3 info">
					<button class="btn btn-primary"><i class="fas fa-edit"></i></button>
                    <form action="/admin/users/delete/<%- usuarios.id %>?_method=DELETE" method="POST" onsubmit="return confirm('¿Esta seguro de querer eliminar a <%= usuarios.name %>?')">
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
					</form>
				</div>
			</div>
        <% }) %>
    </main>
    
</body>
</html>