<!DOCTYPE html>
<html lang="es">

<%- include ("partials/head") %>

<body>

	<%- include ("partials/header") %>

	<%- include("partials/banner")  %>

	<div class="title-config">
		<div class="avatar" id="img-preview">
			<img src="/img/avatars/<%- user.avatars[0].avatar %>">
		</div>
		
		<h2><%- user.name %></h2>
	</div>
	<main class="config" id="config">
		<form class="form-ad" action="/users/destroyUser/<%- user.id %>?_method=DELETE" method="POST">
			<p>
				<label for="inputPass" class="form-label">Ingrese su contraseña</label>
				<input type="password" class="form-control" id="inputPass" name="pass">
				
			</p>
				<button type="submit" class="btn-submit">
					ELIMINAR
				</button>
				<a href="/users" class="btn-submit">CANCELAR</a>
			</p>
		</form>
	</main>
    
<!-- FOOTER -->
<!-- /FOOTER 
<script src="/js/validaciones/validationsPassword.js"></script>-->
</body>
</html>