<!DOCTYPE html>
<html lang="es">

<%- include ("partials/head") %>

<body>

	<%- include ("partials/header") %>

	<%- include("partials/banner")  %>

	<div class="title-config">
		<div class="avatar" id="img-preview">
			<img src="/img/avatars/<%- user.avatars[0].avatar %>">
		</div>
		
		<h2><%- user.name %></h2>
	</div>
	<main class="config" id="config">
		<form id="form" action="/users/edit_password/<%- user.id %>?_method=PUT" method="POST" class="form-ad" >
			<p>
				<label for="inputPass" class="form-label">Contraseña actual</label>
				<input type="password" class="form-control" id="inputPass" name="pass">
				<span id="passError" class="fileErrors" style="color: red;"></span>
				<% if (locals.errors && errors.pass) { %>
					<small class="errorred"><%= errors.pass.msg %> </small>
				<% } %>
			</p>
			<p>
				<label for="inputNewPass" class="form-label">Nueva contraseña</label>
				<input type="password" class="form-control" id="pass1" name="pass1">
				<span id="passErrors" class="fileErrors" style="color: red;"></span>
			</p>
			<p>
				<label for="inputPassAgain" class="form-label">Repetir contraseña</label>
				<input type="password" class="form-control" id="pass2" name="pass2">
				<span id="pass2Errors" class="fileErrors" style="color: red;"></span>
				
				<% if (locals.errors && errors.pass2) { %>
					<small class="errorred"><%= errors.pass2.msg %></small>
				<% } %>
			</p>
			<span id="submitErrors" style="color: red;"></span>
			<% if (locals.errorMsg ) { %>
				<small style="color: red"><%- errorMsg %> </small>
			<% } %>
			<p>
				<button type="submit" class="btn-submit">
					GUARDAR
				</button>
				<a href="/users" class="btn-submit">CANCELAR</a>
			</p>
		</form>
	</main>
    
<!-- FOOTER -->
<!-- /FOOTER -->
<script src="/js/validaciones/validationsPassword.js"></script>
</body>
</html>