<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body>

<%- include('partials/header.ejs') %>

	<!-- Header -->
	
	<!-- /header -->

	<section class="intro">
		<div class="welcome">
			<h2 class=" wow animate__animated animate__bounceInUp animate__delay-1.3s">Dejá que el escabio llegue a vos</h2>
			<p class=" wow animate__animated animate__bounceInUp animate__delay-1.5s">Buscá entre miles de productos mundialmente reconocidos y otros que no tanto. Elegí tus favoritos, seleccioná la forma de entrega y tocá el botón mágico de comprar</p>
			<a href="/products">
				Ver todos los productos
			</a>
		</div>
		<div class="intro-img">

		</div>
	</section>

	<!-- CARDS -->
	<%- include("partials/cards")  %>
	<!-- /CARDS -->

	<!-- Slider  -->
	<%- include('partials/slider.ejs') %>
	<!-- /SLider Destacados -->

	<section class="description">
		<div class="description-size">
			<div>
				<img class="thumbnail  wow animate__animated animate__bounceInUp animate__delay-.5s" src="img/banners/img3.png" alt="">
			</div>
			<div  class=" wow animate__animated animate__bounceInUp animate__delay-.8s">
				<h4>¡Brindamos por más de 10.000 pedidos entregados y seguimos sumando!</h4>
				<p>El equipo de Marketing quiso que usemos este número para mostrar que entregamos bebidas a muchas personas.</p>	
				<a href="/products">Vamos a escabiar!</a>			
			</div>
		</div>
	</section>





	

	<!-- FOOTER -->
	<%- include('partials/footer') %>
	<!-- /FOOTER -->

<!-- Swiper -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/js/swiper.js"></script>

<!-- Flickity -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="/js/product-slider.js"></script>

<!-- SimpleParallax -->
<script src="/js/simpleParallax.js"></script>
</body>
</html>