<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body class="login">

<%- include('partials/header') %>
	
	<main class="login">
		<div class="banner-img">
			<img src="/img/icons/icon-title.png" alt="">
		</div>
		<div class="login-form">
			<form action="/users/login" method="POST">
				<h2>Ingresar</h2>
				<p>
					<input type="text" id="email" name="email" placeholder="Ingresa tu email" value="<%= locals.old && old.email %>">
					<span id="emailErrors" style="color: red"></span>
					<% if (locals.errors && errors.email) { %>
	                    <small style="color: red"><%= errors.email.msg %> </small>
	                <% } %>
				</p>
				<p>
					<input type="password" id="pass" name="pass" placeholder="Contraseña">
					<span id="passErrors" style="color: red"></span>
					<% if (locals.errors && errors.pass) { %>
	                    <small style="color: red"><%= errors.pass.msg %> </small>
	                <% } %>
				</p>
				<div>
					<input type="checkbox" name="remember" id="check">
					<label for="check">Recordarme</label>
				</div>
				<% if (locals.errorMsg ) { %>
	                    <small style="color: red"><%= errorMsg %> </small>
	            <% } %>
				<button type="submit">Ingresar</button>
			</form>

			<div class="register">
				<a href="/users/register">Todavia no tengo una cuenta</a >
			</div>
		</div>
	</main>
	<!-- /Cuerpo de Login -->

	<!-- FOOTER -->
		<%- include('partials/footer') %>
	<!-- /FOOTER -->
	<script src="/js/validaciones/frontLogin.js"></script>
</body>
</html>