<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<body class="body_login">
	<main class="main_login">
		<div class="contenedor_login">
			<section class="seccion_login">
				<div class="div_nombre">
					<div class="nombre_pagina">
						<img src="/img/icons/icon-title2.png">
					</div>
				</div>

				<div class="div_frase">
					"Por la cerveza: causa y solución de todos los problemas" 
				</div>

				<!-- Barra separadora -->
				<div class="div_barra">
					<hr>
					o
					<hr>
				</div>
 
				<div class="div_continput">
					<div class="div_input">
						<form id="form" action="/users/login" method="POST">
							<h2>Iniciar Sección</h2>
							<p>
								<input type="text" id="email" name="email" placeholder="Ingresa tu email" value="<%= locals.old && old.email %>">
								<span id="emailErrors" style="color: red"></span>
								<% if (locals.errors && errors.email) { %>
									<small style="color: red"><%= errors.email.msg %> </small>
								<% } %>
							</p>
							<p>
								<input type="password" id="pass" name="pass" placeholder="Contraseña">
								<span id="passErrors" style="color: red"></span>
								<% if (locals.errors && errors.pass) { %>
									<small style="color: red"><%= errors.pass.msg %> </small>
								<% } %>
							</p>
							<span id="submitErrors" style="color: red;"></span>
							<% if (locals.errorMsg ) { %>
									<small style="color: red"><%= errorMsg %> </small>
							<% } %>
							<div class="checkLogin">
								<input type="checkbox" id="check">
								<label for="check">Mantener la sesión abierta</label>
							</div>
							<div class="div_botoning">
								<button type="submit">Ingresar</button>
							</div>
						</form>
					</div>
				</div>
				<div class="div_crearcuenta">
					¿No tenés una cuenta? <a href="/users/register">Create una</a>
				</div>
				
				<!-- Barra separadora -->
				<div class="div_barra">
					<hr>
					o
					<hr>
				</div>
				<div class="div_crearcuenta" style="margin-bottom: 20px; font-size: 20px;">
					Ingresá con
				</div>

				<a href="/users/auth/google" class="div_ingGoogle"><img src="/images/registro/google.png" alt="">
					<div class="google">
						<img src="/img/icons/google.png"><span> GOOGLE</span>
					</div>
				</a>

				<!-- <div class="div_olvcontraseña">¿Olvidaste tu Contraseña?</div> -->

			</section>

			<section class="seccion_imagen">
			</section>
		</div>
	</main>
	<script src="/js/validaciones/frontLogin.js"></script>
</body>
</html>