<!DOCTYPE html>
<html lang="en">

	<%- include ("partials/head") %>
<body>
    <%- include ("partials/header") %>
	<%- include("partials/banner") %>

    <!-- cuerpo -->
    <main class="main-detalleproducto">

        <!-- Detalle del Producto-->
        <section class="contenedor-detalleproducto">
            <section class="detalle-producto">
                <div class="imagen-detalleproducto">
					<% if(product.discount){ %>
						<span class="off">
							<%= product.discount %>%Off 
						</span>
					<% } %>
					<img src="/img/productos/<%= product.images %>" class="imagen-detalleproducto">
				</div>
                <div class="detalle-detalleproducto">
                    <div class="detalle-nombreproducto">
						<h4><%= product.name %></h4>
                    	<h3>$<%= product.price %></h3>
					</div>
                    <div class="cantidad-detalleproducto">
                        CANTIDAD
						<div class="detalles-cantbotones">
							<input  type="submit" value="-">
                        	<input type="text">
							<input  type="submit" value="+">
						</div>
                    </div>
					<div class="detalle-datosenvio">
						<div class="detalle-mediospagos">
							<div class="mediospagos-inner">
								<div class="mediospagos-front">
									<p>Medios de Pago</p>
								</div>
								<div class="mediospagos-back">
									<img src="/img/icons/mastercard.png" alt="mastercard">
									<img src="/img/icons/ml.png" alt="mercado libre">
									<img src="/img/icons/visa.png" alt="visa">
								</div>
							</div>
						</div>
						<div class="detalle-enviospais">
							<i class="fas fa-truck"></i>
							<p>Envios a todo el Pais</p>
						</div>
						<div class="detalle-calculoenvio">
							<p>Calcula el precio de envio</p>
						</div>
					</div>
                    <div class="boton-detalleproducto">
                        <input  type="submit" value="Agregar al Carrito">
                    </div>
					<!-- Detalles del Lugar -->
					<section class="lugar-producto">
						<div class="detalle-lugarproducto">
							<p> Direcci贸n: Calle Falsa 123 </p>
							<p> Email: mail@mail.com </p>
							<p> Tel/Cel: 123-345 345 </p>
							<p> Advertencia de consumo y blablabla </p>
						</div>
					</section>
                </div>
            </section>
        </section>

        <!-- Especificaciones del Producto -->
        <section class="especificaciones-producto">
			<div class="especificaciones">
				<h3>Especificaciones</h3>
				<p> - Marca: <%= product.trademark.name %> </p>
				<p> - Categoria: <%= product.trademark.category.name %> </p>
				<p> - Graduaci贸n Alcoh贸lica: <%= product.alcoholContent %>% </p>
				<p> - Descripci贸n: <%= product.description %> </p>
			</div>
		</section>
    </main>

	<%- include ("partials/footer") %>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/js/swiper.js"></script>
</body>
</html>