<!DOCTYPE html>
<html lang="en">

	<%- include ("partials/head") %>
<body>
    <%- include ("partials/header") %>
	<%- include("partials/banner") %>

    <!-- cuerpo -->
    <main class="main-detalleproducto">

        <!-- Detalle del Producto-->
        <section class="contenedor-detalleproducto">
            <section class="detalle-producto">
                <div class="imagen-detalleproducto">
					<% if(productDetail.discount){ %>
						<span class="off">
							<%= productDetail.discount %>% Off 
						</span>
					<% } %>
					<% if(productDetail.images){ %>
						<img src="/img/productos/<%= productDetail.images %>" class="imagen-producto wow animate__animated animate__zoomIn animate__delay-.5s">
					<% } else { %>	
						<img src="/img/productos/default-img.gif" class="imagen-producto wow animate__animated animate__zoomIn animate__delay-.5s">
					<% } %>	
				</div>
                <div class="detalle-detalleproducto">
                    <div class="detalle-nombreproducto">
						<h4><%= productDetail.name %></h4>
                    	<h3>$<%= productDetail.price %></h3>
					</div>
					<div class="detalle-datosenvio">
						<div class="detalle-mediospagos">
							<div class="mediospagos-inner">
								<div class="mediospagos-front">
									<p>Medios de Pago</p>
								</div>
								<div class="mediospagos-back">
									<img src="/img/icons/mastercard.png" alt="mastercard">
									<img src="/img/icons/ml.png" alt="mercado libre">
									<img src="/img/icons/visa.png" alt="visa">
								</div>
							</div>
						</div>
						<div class="detalle-enviospais">
							<i class="fas fa-truck"></i>
							<p>Envios a todo el Pais</p>
						</div>
						<div class="detalle-calculoenvio">
							<p>Calcula el precio de envio</p>
						</div>
					</div>
                    <div class="cantidad-detalleproducto">
                        CANTIDAD
						<div class="detalles-cantbotones">
							<button>-</button>
                        	<input type="text">
							<button>+</button>
						</div>
                    </div>
					
                    <div class="boton-detalleproducto">
                        <button type="submit">AGREGAR AL CARRITO</button>
                    </div>
					<!-- Detalles del Lugar -->
					<section class="lugar-producto">
						<div class="detalle-lugarproducto">
							<h3>Especificaciones</h3>
							<p> - Marca: <%= productDetail.brand.brand %> </p>
							<p> - Categoria: <%= productDetail.category.category %> </p>
							<p> - Graduación Alcohólica: <%= productDetail.alcoholContent %>% </p>
							<p> - Descripción: <%= productDetail.description %> </p>
						</div>
					</section>
                </div>
            </section>
        </section>
		
        <!-- Especificaciones del Producto -->
        <section class="especificaciones-producto">
			<div class="especificaciones">
				<p> Dirección: Calle Falsa 123 </p>
				<p> Email: mail@mail.com </p>
				<p> Tel/Cel: 123-345 345 </p>
				<p> Beber con moderación, prohibida su venta a menores de 18 años </p>
			</div>
		</section>

    </main>
	<main class="main-destacados">
		<section class="destacados">

			<h2 class="titleSlider-detail"><%- titleSlider %></h2>
			<div class="productos-main">
				<%- include("partials/product")  %>
			</div>
		</section>
	</main>

	<%- include ("partials/footer") %>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/js/swiper.js"></script>
</body>
</html>