<!DOCTYPE html>
<html lang="es">

<%- include("partials/head")  %>

<body>
	
	<%- include("partials/header")  %>
	<%- include("partials/banner") %>
	<!-- Section Destacados -->
	<%- include("partials/slider") %>
	<!-- /SLider Destacados -->
	
	<!-- Productos -->
	<main class="seccion-productos">
		<h2 class="wow animate__animated animate__fadeInUp animate__delay-0.5s">PRODUCTOS</h2>
		<div class="productos-menus">
			<h3 class="cat-text wow animate__animated animate__fadeInUp animate__delay-1s">Categorias</h3>

			<!-- Boton desplegable -->
			<button class="btn__cat wow animate__animated animate__bounceInUp animate__delay-0.5s" onclick="showCategories()"><h3>Categorias</h3></button>
			<!-- Menu categorias desplegable -->
			<div class="collapse wow animate__animated animate__bounceInUp animate__delay-1s" id="categoriesCollapse">
				<hr>
				<ul>
					<b>Categoria</b>
					<% categories.forEach(element => { %>
						<% if (element.category != "Sin categoria"){ %>
						<li><a href="/products/productsFilter/<%= element.id %>"><%= element.category %></a></li>
							
						<% } %>
					<% }) %>						
				</ul>
				<ul>
					<b>Cervecerias</b>
					<% brands.forEach(element => { %>
						<% if (element.brand != "Sin marca"){ %>
						<li><a href="/products/brandFilter/<%= element.id %>"><%= element.brand %></a></li>
					<% }}) %>
				</ul>
				<button  onclick="showCategories()">
					<i class="fas fa-chevron-up"></i>
				</button>
			</div>
		</div>
		<div class="filter">
			<div>
				<button onclick="orderBy()">Ordenar</button>
				<div class="submenu" id="orderBy">
					<a href="/products/order/desc">Mayor a menor precio</a>
					<a href="/products/order/asc">Menor a mayor precio</a>
					<a href="/products/order/discount">Ofertas</a>
				</div>
			</div>
			
		</div>

		<section>
			<div class="productos-main">

					
	<%- include("partials/product")  %>
	
			</div>
		</section>
	</main>
	<!-- /Productos -->

	<!-- CARDS -->
	<%- include("partials/cards")  %>
	
	<!-- /CARDS -->

	<section class="carrusel-banners">
        <!-- Slider Banners -->
        <div class="swiper-container">
		  <!-- Additional required wrapper -->
		  <div class="swiper-wrapper">
		    <!-- Slides -->
			<% banners.forEach(banner => { %>
		    	<div class="swiper-slide">
					<img src="/img/banners/<%- banner.banner %>" class="slide-img">
				</div>
			<% }) %>
		  </div>
		  <!-- If we need pagination -->
		  <div class="swiper-pagination"></div>

		  <!-- If we need navigation buttons -->
		  <div class="swiper-button-prev"></div>
		  <div class="swiper-button-next"></div>

		  <!-- If we need scrollbar -->
		  <div class="swiper-scrollbar"></div>
		</div>

        <!-- /Slider Banners -->
    </section>
	<!-- FOOTER -->
	<%- include("partials/footer")  %>
	<!-- /FOOTER -->

<!-- Swiper -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/js/swiper.js"></script>

<!-- Flickity -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="/js/product-slider.js"></script>

</body>
</html>