<!DOCTYPE html>
<html lang="es">

<%- include("partials/head")  %> 

<body>
	
	<%- include("partials/header")  %>
	
	<%- include("partials/banner")  %>

    <!-- CARRITO -->
	<main class="container-product">
		<div class="product">

			<div class="product-title">
				<p class="product-title__product item">
					Producto
				</p>
				<p class="product-title__cantidad item">
					Cantidad
				</p>
				<p class="product-title__price item">
					Precio
				</p>
			</div>
					<div class="card-product">
						<div class="product-info">
							<div class="product-img">
								<a href="/products/productDetail/">
									<img class="product-img__img" src="/img/productos/<%= product.images %>" alt="">
								</a>
								<span class="product-img__name"><%= product.name %></span>
							</div>
						</div>
						<div class="product-cantidad">
							<p class="product-cantidad__cantidad item">Cantidad</p>
							<div class="product-cantidad__number">
								<button>
									-
								</button>
								<div id="cantidad">1</div> 
								<button onclick="plus()">
									+
								</button>
							</div>
						</div>
						<div class="product-price">
							<div class="product-price__price">
								<p class="product-price__number"><%= product.price %></p><i class="fas fa-trash"></i>
							</div>
						</div>
					</div>
				
				<!-- <div>
					<div class="detalles-producto-carrito carrito--carrito">
						<span class="carrito--carro">No hay productos en el carrito</span>
					</div>
				</div> -->
			 
		</div> 
		<div class="price-total">
			<p class="price-total__title">Total del pedido</p>
			<div class="price-total__total">
				<p>Total:</p><span id="total">$<%= product.price %></span>
			</div>
		</div>
		<div class="product-button">
			<a href="/products"><button class="product-button__btn-comprando">
				Seguir comprando
			</button></a>
			<a href="/finalizePurchase"><button class="product-button__btn-pagar">
				Pagar ahora
			</button></a>
		</div>
	</main>
    <!-- /CARRITO -->

	<!-- FOOTER -->
	<%- include("partials/footer")  %>
	<!-- /FOOTER -->

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/js/swiper.js"></script>

</body>
</html>