<!DOCTYPE html>
<html lang="es">

<%- include("partials/head")  %>

<body>
	
	<%- include("partials/header")  %>
	<%- include("partials/banner") %>
	<!-- Section Destacados -->
	<%- include("partials/slider") %>
	<!-- /SLider Destacados -->
	
	<!-- Productos -->
	<main class="seccion-productos">
		<h2>PRODUCTOS</h2>
		<div class="productos-menus">
			<h3 class="cat-text">Categorias</h3>

			<!-- Boton desplegable -->
			<button class="btn__cat" onclick="showCategories()"><h3>Categorias</h3></button>
			<!-- Menu categorias desplegable -->
			<div class="collapse" id="categoriesCollapse">
				<hr>
				<ul>
					<b>Color</b>
					<li><input type="checkbox" id="cat1">
						<label for="cat1">Dorado</label>
					</li>
					<li><input type="checkbox" id="cat2">
						<label for="cat2">Dorado Rojizo</label>
					</li>
					<li><input type="checkbox" id="cat3">
						<label for="cat3">Negra</label>
					</li>
					<li><input type="checkbox" id="cat4">
						<label for="cat4">Oscuro</label>
					</li>
					<li><input type="checkbox" id="cat5">
						<label for="cat5">Roja</label>
					</li>
				</ul>

				<ul>
					<b>Cervecerias</b>
					<li><input type="checkbox" id="cat6">
						<label for="cat6">Budweiser</label>
					</li>
					<li><input type="checkbox" id="cat7">
						<label for="cat7">Andes Origen</label>
					</li>
					<li><input type="checkbox" id="cat8">
						<label for="cat8">Brahma</label>
					</li>
					<li><input type="checkbox" id="cat9">
						<label for="cat9">Patagonia</label>
					</li>
					<li><input type="checkbox" id="cat10">
						<label for="cat10">Quilmes</label>
					</li>
				</ul>
				<button  onclick="showCategories()">
					<i class="fas fa-chevron-up"></i>
				</button>
			</div>
		</div>
		<div class="filter">
			<select value="">
		   		<option value="" hidden selected>Filtrar por</option>
		   		<option value="precio">Mayor precio</option>
		   		<option value="br">Menor precio</option>
		   		<option value="br">Destacado</option>
		   		<option value="br">Agregados recientemente</option>
		   	</select>
		</div>

		<section>
			<div class="productos-main">

				<% products.forEach(element => { %>
					<article class="br">
						<a href="/products/productDetail/<%= element.id %> ">
							<span class="off">
								<%= element.discount %>%Off 
							</span>
							<img src="/img/productos/<%= element.imagen %> " class="imagen-producto">
						</a>
						<div class="detalles-articulos">
							<span>$<%= element.precio %> </span>
							<p><%= element.name %> </p>
							<b><%= element.marca %>  / <%= element.category %>  / 5.2% ALC</b>
							<button class="btn-add" alt="Agregar al carrito"><i class="fas fa-shopping-cart"></i></button>
						</div>
						<div class="boton-comprar">
							<button class="btn-buy br">Comprar</button>
						</div>
					</article>
				<% }) %>	
	
			</div>
		</section>
	</main>
	<!-- /Productos -->

	<!-- CARDS -->
	<section class="cards">
		<div class="card br flex">
			<p><i class="fas fa-truck"></i></p>	
			<strong>Enviamos tu compra</strong>
			<p>Envios a todo el pais</p>
		</div>
		<div class="card br flex">
			<p><i class="fas fa-credit-card"></i></p>
			<strong>Pagá como quieras</strong>
			<p>Tarjetas de crédito o efectivo</p>
		</div>
		<div class="card br flex">
			<p><i class="fas fa-shopping-bag"></i></p>
			<strong>Comprá con seguridad</strong>
			<p>Tus datos siempre estarán protegidos</p>
		</div>
	</section>
	<!-- /CARDS -->

	<section class="carrusel-banners">
        <!-- Slider Banners -->
        <div class="swiper-container">
		  <!-- Additional required wrapper -->
		  <div class="swiper-wrapper">
		    <!-- Slides -->
		    <div class="swiper-slide">
		    	<img src="/img/banners/banner1.png" alt="">
		    </div>
		    <div class="swiper-slide">
		    	<img src="/img/banners/banner2.png" alt="">
		    </div>
		    <div class="swiper-slide">
		    	<img src="/img/banners/banner3.png" alt="">
		    </div>
		  </div>
		  <!-- If we need pagination -->
		  <div class="swiper-pagination"></div>

		  <!-- If we need navigation buttons -->
		  <div class="swiper-button-prev"></div>
		  <div class="swiper-button-next"></div>

		  <!-- If we need scrollbar -->
		  <div class="swiper-scrollbar"></div>
		</div>

        <!-- /Slider Banners -->
    </section>
	<!-- FOOTER -->
	<%- include("partials/footer")  %>
	<!-- /FOOTER -->

<!-- Swiper -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/js/swiper.js"></script>

<!-- Flickity -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="/js/product-slider.js"></script>

</body>
</html>