<!DOCTYPE html>
<html lang="es">
<%- include('partials/head.ejs') %>
<style>
	small.errorred {
		color: red;
	}
</style>
<body class="login">

<%- include('partials/header') %>
	
	<main class="login">
		<div class="banner-img">
			<img src="/img/icons/icon-title.png" alt="">
		</div>
		<div class="register-form" id="registerForm">
			<h2 style="color: #fff;">Registrarse</h2>
			<form action="/users/register" method="POST" enctype="multipart/form-data">
				<p>
					<input type="text" name="name" placeholder="Nombre" value="<%= locals.old && old.name %>">
					<% if (locals.errors && errors.name) { %>
						<small class="errorred"><%= errors.name.msg %> </small>
					<% } %>
				</p>
				<p>
					<input type="email" name="email" placeholder="Ingresá tu email" value="<%= locals.old && old.email %>">
					<% if (locals.errors && errors.email) { %>
						<small class="errorred"><%= errors.email.msg %> </small>
					<% } %>
				</p>
				<p>
					<input type="password" name="pass1" placeholder="Contraseña">
					<% if (locals.errors && errors.pass1) { %>
						<small class="errorred"><%= errors.pass1.msg %> </small>
					<% } %>
				</p>
				<p>
					<input type="password" name="pass2" placeholder="Repetir contraseña">
					<% if (locals.errors && errors.pass2) { %>
						<small class="errorred"><%= errors.pass2.msg %> </small>
					<% } %>
				</p>
				<div>
					<input type="checkbox" id="check">
					<label for="check">Mantener la sesion abierta</label>
				</div>
				<button>Registrarse</button>
			</form>
			<div class="register">
				<a href="/users/login">Ya tengo una cuenta</a>
			</div>
		</div>
	</main>		

<%- include('partials/footer') %>

	


</body>
</html>