<!DOCTYPE html>
<html lang="es">

<%- include ("partials/head") %>

<body>

	<%- include ("partials/header") %>

	<%- include("partials/banner")  %>


	<main class="config">
	<!-- Barra de Direccion -->
		<div class="title-config">
			<div class="avatar">
				<img src="/img/avatars/<%- user.avatars[0].avatar %>">
			</div>
						
			<h2><%- user.name %></h2>
		</div>
		<!-- Detalles de usuario -->
		<section class="tabla-config">
			<div class="config">		
				<a href="/users/edit_password/<%- user.id %>" class="editar">Cambiar contraseña <i class="fas fa-pen"></i></a>
				
				<a href="/users/edit/<%- user.id %>" class="editar">Editar <i class="fas fa-pen"></i></a>
			</div>
			<div class="tabla-datos">
				<div class="column">
					<h3>Perfil</h3>
					<p>
						<strong>Nombre:</strong>
						<span><%- user.name %></span>
					</p>
					<p>
						<strong>Email:</strong>
						<span><%- user.email %></span>
					</p>
				</div>

				<div class="column">
					<h3>Contacto</h3>
					<% user.contacts.forEach(contact => { %>
					<p>
						<strong>Telefono:</strong>
						<span><%= contact.phone ? contact.phone : "----" %></span>
					</p>
					<p>
						<strong>Ciudad:</strong>
						<span><%= contact.city ? contact.city : "----" %></span>
					</p>
					<p>
						<strong>Direccion:</strong>
						<span><%= contact.street ? contact.street : "----" %></span>
					</p>
					<p>
						<strong>Provincia:</strong>
						<span><%= contact.province ? contact.province : "------" %></span>
					</p>
					<% }) %>
				</div>
			</div>	
		</section>
		<a href="/users/destroyUser/<%- user.id %>" class="">Eliminar perfil <i class="fas fa-trash"></i></a> 
		 
	</main>
	<!-- FOOTER -->
	<%- include("partials/footer")  %> 
	<!-- /FOOTER -->
</body>
</html>