<!DOCTYPE html>
<html lang="es">

<%- include ("partials/head") %>

<body>

	<%- include ("partials/header") %>

	<%- include("partials/banner")  %>

	<div class="title-config">
		<div class="avatar" id="img-preview">
			<img src="/img/avatars/<%- user.avatars[0].avatar %>">
		</div>
	</div>
	<main class="config" id="config">
		<form action="/users/edit/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="form-ad" >
			<p>
				<label for="name">Nombre</label>
				<input id="name" type="text" name="name" placeholder="Nombre" value="<%= locals.old ? old.name : user.name %>">
				<span id="nameErrors" class="error"></span>
			<p>
				<label for="formFile">Cambiar foto</label>
				<input type="file" name="avatar" aria-label="file example" id="formFile">
				<span id="fileErrors"></span>
			</p>
			<p>
				<label for="email">Email</label>
				<input type="email" name="email" placeholder="Ingresá tu email" readonly value="<%= user.email %>">
			</p>
			<p>
				<label for="tel">Teléfono</label>
				<input id="tel" type="text" name="phone" placeholder="Ingresá tu teléfono" value="<%= user.contacts[0]?.phone ? user.contacts[0].phone : "" %>">
				<span id="phoneErrors" class="opcional"><%= user.contacts[0]?.phone ? "" : "Ingresá tu telefono para completar tu perfil"%></span>
			</p>
			<p>
				<label for="adress">Direccion</label>
				<input id="adress" type="text" name="street" placeholder="Domicilio" value="<%= user.contacts[0]?.street ? user.contacts[0].street : "" %>">
				<span id="streetErrors" class="opcional"><%= user.contacts[0]?.street ? "" : "Ingresá tu dirección para completar tu perfil"%></span>
			</p>
			<p>
				<label for="city">Ciudad</label>
				<input id="city" type="text" name="city" placeholder="Ciudad" value="<%= user.contacts[0]?.city ? user.contacts[0].city : "" %>">
				<span id="cityErrors" class="opcional"><%= user.contacts[0]?.city ? "" : "Ingresá tu ciudad para completar tu perfil"%></span>
			</p>
			<p>
				<label for="city">Provincia</label>
				<input id="province" type="text" name="province" placeholder="Provincia" value="<%= user.contacts[0]?.province ? user.contacts[0].province : "" %>">
				<span id="provinceErrors" class="opcional"><%= user.contacts[0]?.province ? "" : "Ingresá tu provincia para completar tu perfil"%></span>
			</p>
			<p>
				<button type="submit" class="btn-submit">
					GUARDAR
				</button>
				<a href="/users" class="btn-submit">CANCELAR</a>
			</p>
		</form>
	</main>
    
<!-- FOOTER -->
<%- include("partials/footer")  %> 
<!-- /FOOTER -->
<script src="/js/validaciones/validationProfile.js"></script>
<script src="/js/previewImage.js"></script>
</body>
</html>